@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="col-lg-2">
    <button type="button" class="btn btn-secondary" value="POS" name="pos" id="pos">POS</button>
    <br />
    <hr />
    <button type="button" class="btn btn-secondary" value="Management" name="manage" id="manage">Management</button>
</div>
