################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################




.vs/
*bin/
*obj/
*Logs
*.cache

/rpos-main/Com.MrIT.Project/Com.MrIT.Application/Controllers/UsersController.cs
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/Controllers/HomeController.cs
/Com.MrIT.Project/Com.MrIT.Application/Controllers/testing.cs
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/Filters/MrITActionFilter.cs
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/Models/ErrorViewModel.cs
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/wwwroot/themes/plugins/datatables-fixedcolumns/css
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/wwwroot/themes/plugins/datatables-fixedcolumns
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/wwwroot/themes/plugins/datatables-colreorder/js/dataTables.colReorder.min.js
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/wwwroot/themes/plugins/datatables-colreorder/js/dataTables.colReorder.js
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/wwwroot/themes/plugins/datatables-colreorder/js/colReorder.bootstrap4.min.js
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/wwwroot/themes/plugins/datatables-colreorder/js/colReorder.bootstrap4.js
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/wwwroot/themes/plugins/datatables-colreorder/js
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/wwwroot/themes/plugins/datatables-colreorder/css/colReorder.bootstrap4.min.css
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/wwwroot/themes/plugins/datatables-colreorder/css/colReorder.bootstrap4.css
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/wwwroot/themes/plugins/datatables-colreorder/css
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/wwwroot/themes/plugins/datatables-colreorder
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/wwwroot/themes/plugins/datatables-buttons/js/dataTables.buttons.min.js
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/wwwroot/themes/plugins/datatables-buttons/js/dataTables.buttons.js
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/wwwroot/themes/plugins/datatables-buttons/js/buttons.print.min.js
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/wwwroot/themes/plugins/datatables-buttons/js/buttons.print.js
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/wwwroot/themes/plugins/datatables-buttons/js/buttons.html5.min.js
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/wwwroot/themes/plugins/datatables-buttons/js/buttons.html5.js
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/wwwroot/themes/plugins/datatables-buttons/js/buttons.flash.min.js
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/wwwroot/themes/plugins/datatables-buttons/js/buttons.flash.js
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/wwwroot/themes/plugins/datatables-buttons/js/buttons.colVis.min.js
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/wwwroot/themes/plugins/datatables-buttons/js/buttons.colVis.js
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/wwwroot/themes/plugins/datatables-buttons/js/buttons.bootstrap4.min.js
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/wwwroot/themes/plugins/datatables-buttons/js/buttons.bootstrap4.js
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/Resources/Models/_Shared.my.resx
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/Resources/Models
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/Resources/Controllers/Home.my.resx
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/Resources/Controllers
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/Resources
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/Properties/launchSettings.json
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/Properties
/rpos-main/Com.MrIT.Project/Com.MrIT.Application/Models/_Shared.cs
/rpos-main
