@model List<Com.MrIT.ViewModels.VmMenuCategory>
@{
    ViewData["Title"] = "Menu Management";
    Layout = "~/Views/Shared/_Layout_Manage.cshtml";
}


<div class="row">
    <div class="col-sm-4">
        <div class="container">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th><a class="btn btn-info btn-secondary" asp-action="Create" asp-controller="Menu">Add Category</a></th>
                        <th>Menu Category</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Update", "Menu", new { a = System.Net.WebUtility.UrlEncode(item.EncryptId) })"><u> Edit </u></a> | 
                                    <a href="@Url.Action("Delete", "Menu", new { a = System.Net.WebUtility.UrlEncode(item.EncryptId) })"><u> Delete </u></a>
                                </td>
                                <td>
                                    @item.Name
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

<!--Add Modal 
<form asp-action="Create" method="post" asp-controller="Menu" id="addCategoryForm">
    <div class="modal fade" id="addMenuModal" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">

            <!-- Modal content
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Menu Category</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">

                    <label>
                        New Menu Category :
                    </label>
                                    
                        <input type="text" id="menu_category" placeholder="category" class="form-control" />
                    
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" data-dismiss="modal" onclick="$('#addCategoryForm').submit()">Add</button>

                </div>
            </div>

        </div>
    </div>
</form>
-->
