@model Com.MrIT.ViewModels.VmMrUser
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout_Public.cshtml";
}

<div class="register-box">
    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Register a new membership</p>

            <form id="myForm" asp-action="Register" method="POST">
                <div class="input-group mb-3 has-feedback">
                    <input type="text" asp-for="FullName" class="form-control" placeholder="Full name" required autofocus>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="FullName" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input type="email" asp-for="Email" class="form-control" placeholder="Email" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input type="text" asp-for="MobileNo" class="form-control" placeholder="Mobile No.">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-phone"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="MobileNo" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input type="password" asp-for="Password" class="form-control" placeholder="Password" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input type="password" id="ConfirmPassword" class="form-control" placeholder="Retype password" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        @{
                            if (TempData["ErrorMessage"] != null)
                            {
                                <span class="text-danger"> @TempData["ErrorMessage"] </span>
                            }
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                            <label for="agreeTerms">
                                I agree to the <a href="#">terms</a>
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block" onclick="FormSubmit();">Register</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <div class="social-auth-links text-center">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-primary">
                    <i class="fab fa-facebook mr-2"></i>
                    Sign up using Facebook
                </a>
            </div>

            <a href="@Url.Action("SignIn","Users")" class="text-center">I already have a membership</a>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>
<!-- /.register-box -->
<br />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function IsPasswordSame() {
        return $('#Password').val() == $('#ConfirmPassword').val();
    }

    function FormSubmit() {
        var email = $('#Email').val();
        if (email == "") {
            alert("Email is required!");
        }
        else if ( !IsPasswordSame() ) {
            alert("Password do not match!.");
            $('#ConfirmPassword').val('');
        }
        else {
            var ajaxurl = '../Users/CheckEmailForRegister';
            $.ajax({
                url: ajaxurl,
                data: { Email: email },
                dataType: 'json',
                success: function (response) {
                    if (response.IsSuccess) {
                        $('#myForm').submit();
                    } else {
                        alert(response.MessageToUser);
                    }
                },
                error: function (response) {
                    alert(response)
                }
            });
        }
    }
</script>