@model Com.MrIT.ViewModels.VmSysUser 

@{
    ViewData["Title"] = "Sign In";
    Layout = "~/Views/Shared/_Layout_Empty.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        @*<a href="~/themes/index2.html"><b>Mr.</b>Sports</a>*@
        <img src="~/themes/dist/img/AllLiveUp_Logo.jpeg" alt="AllLiveUp Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8;width:100px;height:100px;">
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Sign in to start your session</p>

            <form action="@Url.Action("SignIn","Users")" method="post">
                <div class="input-group mb-3 has-feedback">
                    <input type="number" asp-for="PinCode" class="form-control" placeholder="PIN Code" required autofocus>
                    <span asp-validation-for="PinCode"></span>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-8">

                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <div class="row">
                <div class="col-xs-12">
                    @{
                        if (TempData["ErrorMessage"] != null)
                        {
                            <span class="text-danger"> @TempData["ErrorMessage"] </span>
                        }
                    }

                </div>
            </div>
          

        </div>
        <!-- /.login-card-body -->
    </div>
</div>
