@{
    ViewData["Title"] = "Account Registration";
    Layout = "~/Views/Shared/_Layout_Public.cshtml";
}
<div class="card">
    <div class="card-body" align="center">
        <h3>Your registration on All Live Up is successful. </h3>
        <h4>Thank you for joining with us.</h4>
        <a href="@Url.Action("Signin","Users")" class="btn btn-primary">Sign In</a>
    </div>
</div>